@import '_variables';

.bd-sidebar {
  border-right: 1px solid $border-color;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: 100%;
}

.bd-toc-item > .fa {
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.bd-toc-link {
  display: inline;
  padding: 0.25em 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.bd-sidebar, .demo {
  height: calc(100vh - 12rem);
  & ul > li {
    width: 100%;
    & > a {
      display: block;
      padding: 0.25em 1.5em;
      font-size: 90%;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-border {
  border: 1px solid $border-color;
}

.description > button {
  margin-top: -0.5em;
}

.sortable-item {
  padding: 6px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  cursor: grab;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.sortable-wrapper {
  min-height: 150px;
}
